
body {
    background-color: #FFF;
    color: #222;
}

body, h1 {
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    line-height: 1;
    font-size: 60px;
    text-transform: uppercase;
    color: #EC008C;
    display: none;
}
@media only screen and (min-device-width: 768px) {
    h1 {
        font-size: 80px;
    }
}

h2 {
    font-size: 40px;
    color: #EC008C;
}

a, a:hover {
    color: #EC008C;
}

.navbar {
    background-color: #313131;
    border-radius: 0;
    border: 0;
}

    .navbar-text {
        margin: 30px 0;
        color: #FFF !important;
        font-size: 18px;
    }

section {
    margin: 30px 0;
    font-size: 30px;
}

    section header {
        margin-bottom: 30px;
    }

        section header p {
            color: #666;
        }

        section header a.btn:active {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    section article p {
        margin-bottom: 30px;
    }

/* Welcome */

.welcome ul li a {
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    background-color: #EC008C;
    color: #FFF;
}
.welcome ul li a:hover {
    background-color: #FF0094;
}

.welcome header > div {
    padding: 0 150px 0 0;
}
.welcome header > div:first-child {
    padding: 0 0 0 150px;
}

.welcome .rythmeFM p {
    margin-top: 110px;
}

.welcome .rythmeFM img {
    width: 350px;
}

@media only screen and (max-width: 992px) {
    .welcome header > div, .welcome header > div:first-child {
        padding: 0;
    }

    .welcome .rythmeFM p {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .welcome .rythmeFM img {
        width: 300px;
    }
}

/* Activities */

.activities ul,
.partners ul {
    margin: 30px 0;
}

    .activities li,
    .partners li {
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        border: 1px solid #F1F1F1;
    }

    @media only screen and (min-device-width: 768px) {

        .activities li,
        .partners li {
            margin-bottom: 0;
            padding-top: 60px;
            padding-bottom: 60px;
            border-top: 0;
            border-left: 0;
        }
        .activities li:nth-child(1),
        .activities li:nth-child(2),
        .activities li:nth-child(3),
        .partners li:nth-child(1),
        .partners li:nth-child(2),
        .partners li:nth-child(3) {
            border-top: 1px solid #F1F1F1;
        }
        .activities li:nth-child(1),
        .activities li:nth-child(4),
        .partners li:nth-child(1),
        .partners li:nth-child(4),
        .partners li:nth-child(7) {
            border-left: 1px solid #F1F1F1;
        }
    }

        .activities li span {
            display: block;
            margin: 0 auto 30px auto;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;
            font-size: 60px;
            background-color: #F1F1F1;
            border-radius: 50%;
            color: #EC008C;
        }

        .partners img {
            max-width: 100%;
        }

/* Where */

.where article div {
    padding: 30px 30px 20px 30px;
    border: 1px solid #F1F1F1;
}

/* Subscription */

.subscription .btn {
    padding: 10px 60px;
    border-radius: 0;
    background-color: #EC008C;
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
}
.subscription .btn:hover {
    background-color: #FF0094;
}

.subscription table {
    margin-bottom: 50px;
    border: 1px solid #F1F1F1;
}

    .subscription table td {
        padding-top: 0;
    }
    .subscription table tr:first-child td {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .subscription table tr:last-child td {
        padding-bottom: 15px;
    }

        .subscription table td {
            vertical-align: top;
            padding-left: 15px;
        }
        .subscription table td {
            text-align: left;
            padding-right: 15px;
        }
        .subscription table td:first-child {
            text-align: right;
            color: #EC008C;
            white-space: nowrap;
            padding-right: 0;
        }

            .subscription table td > span {
                display: none;
            }

        @media only screen and (max-width: 768px) {
            .subscription table td {
                padding-top: 30px;
            }
            .subscription table td:first-child {
                display: none;
            }

                .subscription table td > span {
                    display: block;
                    color: #EC008C;
                }
        }

.subscription ul li {
    text-align: left;
    list-style-type: circle;
}

/* Footer */

footer {
    margin: 60px auto;
    color: #666;
    font-size: 20px;
}
